.buttonsPagination {
    padding: 3px;
    margin-left: 1px;
    margin-right: 1px;
    background-color: #15181d;
    color: #bbbbbb  ;
}

.fatherPagination {
    background-color: #15181d;
    padding: 10px;
    border-radius: 10px;

}

.fatherPagination > div > select {
    margin-right: 15px;
    padding: 3px;
    background-color: #15181d;
    color: #bbbbbb;
}


.fatherPagination > div > span {
    color: #bbbbbb;
    margin-right: 5px;
}

@media (max-width: 720px)
{
    .fatherPagination {
        margin-bottom: 90px;
    }
}