.buttonsPagination {
    padding: 3px;
    margin-left: 1px;
    margin-right: 1px;
    background-color: black;
    color: red  ;
}

.fatherPagination {
    background-color: black;
    padding: 10px;
    border-radius: 10px;

}

.fatherPagination > div > select {
    margin-right: 15px;
    padding: 3px;
    background-color: black;
    color: blue;
}


.fatherPagination > div > span {
    color: blue;
    margin-right: 5px;
}